<div>
    <h2>Password_historys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="password_history.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Password_history</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePassword_historyConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(password_history.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Password_history?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Password_history_id</th>
                    <th>User_id</th>
                    <th>Password</th>
                    <th>Create_date</th>
                    <th>users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="password_history in password_historys track by password_history.id">
                    <td><a ui-sref="password_history.detail({id:password_history.id})">{{password_history.id}}</a></td>
                    <td>{{password_history.password_history_id}}</td>
                    <td>{{password_history.user_id}}</td>
                    <td>{{password_history.password}}</td>
                    <td>{{password_history.create_date | date:'medium'}}</td>
                    <td>
                        <a ui-sref="users.detail({id:password_history.users.id})">{{password_history.users.user_id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="password_history.detail({id:password_history.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="password_history.edit({id:password_history.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(password_history.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
